<head>

</head>

<body>
  <h1 style="color: red">Lotte Bike Parking Report</h1>

  <form id="idFormReport" class="material-form">
    <div>
      <mat-form-field>
        <input matInput required [matDatepicker]="starDate" placeholder="Start date" [(ngModel)]="model.startDate" name="startDate">
        <mat-datepicker-toggle matSuffix [for]="starDate"></mat-datepicker-toggle>
        <mat-datepicker #starDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput required [matDatepicker]="endDate" placeholder="End date" [(ngModel)]="model.endDate" name="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="text-field">
        <input id="name" #name="ngModel" matInput required placeholder="Enter your name" [(ngModel)]="model.name" name="name" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="text-field">
        <input matInput required placeholder="Enter amount" [(ngModel)]="model.amount" name="amount" />
      </mat-form-field>
    </div>

    <div>
      <button mat-flat-button color="primary" (click)="getReport()">Get Report</button>
    </div>

  </form>

</body>